*,
*::after,
*::before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  color: #1f1e1e;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 140%;
}

a {
  color: inherit;
  text-decoration: none;
}

.title {
  font-size: 36px;
  font-weight: 500;
  line-height: 130%;
  text-align: center;
}

.container {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 10px;
}

.header {
  background-image: url(../images/header-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header__top {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 16px 0 49px 0;
}

.header__phone {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
}

.header__phone-number {
  background-color: #886239;
  border-radius: 22px;
  font-weight: 400;
  margin-left: 19px;
  padding: 12px 31px 13px;
}

.menu {
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  margin-top: 15px;
  padding: 27px 0 24px;
  width: 100%;
}

.menu__list {
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 16px;
  justify-content: space-evenly;
}

.header__title {
  font-family: "PT Serif", serif;
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  margin-bottom: auto;
  text-align: center;
}

.header__descr {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  max-width: 420px;
}

.header__btn {
  background-color: #886239;
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  margin-bottom: 19.5px;
  padding: 19px 55px 20px;
}

.header__arrow {
  margin-bottom: 15px;
  text-align: center;
}

.direction {
  padding: 100px 0;
}

.direction__inner {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
}

.direction__img {
  display: block;
}

.description__text {
  border: 1px solid #d9d9de;
  border-top: none;
  font-size: 16px;
  padding: 10px 19px 14px;
}

.travel-info {
  background-image: url(../images/travel-info-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 0 50px;
}

.trave-info__title {
  color: #fff;
  margin-bottom: 50px;
}

.travel-info__items {
  display: grid;
  grid-gap: 54px 67px;
  grid-template-columns: repeat(4, 1fr);
}

.trave-info__img {
  margin-bottom: 15px;
}

.travel-info__text {
  color: #fff;
  font-size: 16px;
  line-height: 130%;
}

.popular {
  padding: 100px 0;
}

.popular__title {
  margin-bottom: 40px;
}

.popular__items {
  border-bottom: 1px solid #d9d9de;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  padding-bottom: 80px;
}

.popular__link {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 130%;
  min-height: 256px;
  padding: 16px 24px 19px;
}

.popular__link:nth-child(3),
.popular__link:nth-child(6) {
  grid-column: span 2;
  grid-row: span 2;
}

.popular__link-title {
  font-weight: 500;
  margin-bottom: 15px;
}

.popular__link-title--big {
  font-size: 24px;
}

.popular__price {
  font-size: 16px;
  font-weight: bold;
  margin-top: auto;
}

.popular__country,
.popular__time {
  margin-bottom: 15px;
}

.map {
  padding-bottom: 100px;
}

.map__title {
  margin-bottom: 46px;
}

.about {
  padding-bottom: 100px;
}

.about__inner {
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 448px 640px;
}

.about__title {
  margin-bottom: 25px;
  text-align: left;
}

.about__text {
  margin-bottom: 34px;
}

.about__link {
  color: #c4c4c4;
  line-height: 19px;
  text-decoration: underline;
}

.about__popup {
  align-items: center;
  background-image: url(../images/video-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.gallery {
  background-color: #886239;
  color: #fff;
  padding: 50px 0 105px;
}

.gallery__top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
  padding-right: 160px;
}

.gallery__link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

.gallery__item-inner {
  display: grid;
  grid-row-gap: 30px;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.slick-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: -90px;
}

.slick-prev {
  right: 60px;
}

.tour {
  padding: 100px 0;
}

.tour__title {
  margin-bottom: 77px;
}

.tour__box {
  border-bottom: 1px solid #d9d9de;
  column-count: 2;
  column-gap: 46px;
  margin-bottom: 44px;
  padding-bottom: 50px;
}

.tour__text {
  margin-bottom: 15px;
}

.tour__text span {
  font-weight: 700;
}

.tour__info {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(5, 1fr);
}

.tour__info-item {
  color: #886239;
  font-family: "PT Serif", serif;
  font-size: 58px;
  font-weight: bold;
  line-height: 60px;
  text-align: center;
  white-space: nowrap;
}

.tour__info-text {
  color: #1f1e1e;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
  white-space: normal;
}

.booking {
  background: #eaeaea;
  padding: 75px 0;
}

.booking__title {
  margin-bottom: 43px;
}

.booking__form {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 830px;
}

.booking__input {
  border: 1px solid #d9d9de;
  font-size: 16px;
  height: 44px;
  margin-bottom: 28px;
  padding: 11px 14px 12px;
  width: 256px;
}

.booking__input::placeholder,
.booking__area::placeholder {
  color: #c4c4c4;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.booking__area {
  border: 1px solid #d9d9de;
  height: 112px;
  margin-bottom: 67px;
  padding: 14px;
  resize: none;
  width: 100%;
}

.booking__btn {
  background: #886239;
  border: none;
  border-radius: 30px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  line-height: 21px;
  padding: 19px 65px 20px;
}

.booking__label {
  align-items: center;
  display: flex;
  font-size: 16px;
  line-height: 130%;
  text-decoration: underline;
}

.booking__checkbox {
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding-left: 45px;
  position: absolute;
  width: 1px;
}

.booking__checkbox-style {
  border: 2px solid #c4c4c4;
  border-radius: 2px;
  height: 26px;
  margin-left: -45px;
  position: absolute;
  width: 26px;
}

.booking__checkbox:checked + .booking__checkbox-style::before {
  background-color: #c4c4c4;
  content: "";
  height: 16px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
}

.footer {
  background-color: #1f1e1e;
  padding: 80px 0;
}

.footer__logo {
  margin-bottom: 70px;
  text-align: center;
}

.footer__box {
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  line-height: 130%;
  margin: 0 auto;
  max-width: 830px;
}

.footer__info {
  width: 225px;
}

.footer__box-title {
  color: #fff;
  font-weight: 500;
  margin-bottom: 7px;
  opacity: 1;
}

.footer__copy {
  margin-bottom: 3px;
}

.footer__link {
  color: #fff;
  text-decoration: underline;
}

.footer__adress {
  width: 165px;
}

.footer__contacts {
  width: 210px;
}

.footer__mail {
  display: block;
}

.menu__btn {
  display: none;
}

@media (max-width: 1140px) {
  .direction__inner {
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
  .direction__img {
    width: 100%;
  }
  .about__inner {
    grid-gap: 20px;
    grid-template-columns: 1fr 2fr;
  }
  .gallery__item-inner {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .gallery__item-img {
    width: 100%;
  }
  .tour__info {
    grid-gap: 30px 15px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 990px) {
  .header__title {
    font-size: 80px;
  }
  .header__descr {
    font-size: 18px;
  }
  .popular__link {
    min-height: 200px;
  }
  .popular__items {
    grid-gap: 10px;
  }
}

@media (max-width: 800px) {
  .header__title {
    font-size: 60px;
  }
  .header__descr {
    font-size: 16px;
  }
  .header__phone span {
    display: none;
  }
  .travel-info__items {
    grid-gap: 40px;
    grid-template-columns: repeat(3, 1fr);
  }
  .popular__link:nth-child(3),
  .popular__link:nth-child(6) {
    grid-column: auto;
    grid-row: auto;
  }
  .popular__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .popular__link {
    min-height: 320px;
  }
  .popular,
  .tour {
    padding: 50px 0;
  }
  .map__iframe {
    height: 400px;
  }
  .about__inner {
    grid-gap: 20px;
    grid-template-columns: 1fr;
  }
  .about__popup {
    min-height: 400px;
  }
  .about,
  .gallery,
  .map {
    padding-bottom: 50px;
  }
  .gallery__item-inner {
    grid-gap: 20px;
  }
  .tour__box {
    column-count: 1;
  }
  .tour__title {
    margin-bottom: 40px;
  }
  .tour__info {
    grid-template-columns: repeat(2, 1fr);
  }
  .booking {
    padding: 50px 0;
  }
  .booking__input {
    width: 100%;
  }
  .booking__label {
    margin: -192px 0px 0px 50px;
    width: 100%;
  }
  .footer {
    padding: 40px 0;
  }
  .footer__logo {
    margin-bottom: 40px;
  }
  .footer__box {
    display: block;
    text-align: center;
  }
  .footer__info,
  .footer__adress {
    margin: 0 auto 25px;
  }
  .footer__contacts {
    margin: 0 auto;
  }
}

@media (max-width: 560px) {
  .header__title {
    font-size: 40px;
  }
  .header__descr {
    font-size: 14px;
  }
  .header__top {
    padding-bottom: 30px;
  }
  .menu__btn {
    background-color: transparent;
    border: none;
    display: inline-block;
    height: 30px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 107px;
    width: 40px;
  }
  .menu__btn::after,
  .menu__btn::before {
    background-color: #fff;
    content: "";
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
  }
  .menu__btn::before {
    top: 0;
  }
  .menu__btn::after {
    bottom: 0;
  }
  .menu__btn span {
    background-color: #fff;
    display: block;
    height: 2px;
  }
  .menu__list {
    background-color: #886239;
    display: block;
    left: 0;
    padding: 10px 0;
    position: absolute;
    right: 0;
    transform: translateY(-200%);
    transition: all 0.3s;
  }
  .menu__list.menu__list--active {
    transform: translateY(0);
  }
  .menu__link {
    display: block;
    padding: 10px;
    text-align: center;
  }
  .logo {
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  .header__top-number {
    margin-left: 0;
  }
  .menu {
    border: none;
  }
  .direction__inner {
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .direction {
    padding: 50px 0;
  }
  .travel-info__items {
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
  }
  .title {
    font-size: 28px;
  }
  .popular__items,
  .gallery__item-inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .gallery__title {
    padding-bottom: 20px;
    text-align: left;
    width: 100%;
  }
  .gallery__top {
    flex-wrap: wrap;
  }
}

@media (max-width: 460px) {
  .travel-info__items,
  .direction__inner,
  .tour__info {
    grid-template-columns: repeat(1, 1fr);
  }
  .travel-info__item {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 340px) {
  .about__popup {
    min-height: 280px;
  }
}
